.employeeComponentH1{
    font-family: Roboto, cursive;
    /*font-size: 100px;*/
    color: #2C6700;;
}

.employeeComponentBody {
    background: linear-gradient(
            to left,
            #2C6700 0%,
            #009b67 80%,
            #badecf 100%
    );
}
